{% extends "prenovi/base.html" %}

{% block title %}<title>Contact us</title> {% endblock %}

{% block content %}
{% load myfilters %}
<form action="/contact-us/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.email.errors }}
        {{ form.email.label_tag }}
        {{ form.email|addclass:'form-control' }}
        {{ form.subject.errors }}
        {{ form.subject.label_tag }}
        {{ form.subject|addclass:'form-control' }}
        <span class="helptext">{{ form.subject.help_text }}</span>

        {{ form.message.errors }}
        {{ form.message.label_tag }}
        {{ form.message|addclass:'form-control' }}
        <span class="helptext">{{ form.message.help_text }}</span>
    </div>
    <input type="submit" class="btn btn-success btn-lg" value="Submit"/>
</form>

{% endblock %}